<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <span class="header__title">Carles Hervera Gestió</span>
      </div>
      <div class="col-3">
        <div class="header__menu">
          <span class="user">{{(user | async)?.data}}</span>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item routerLink="/projectes">Projectes</button>
            <button mat-menu-item routerLink="/articles">Articles</button>
            <button mat-menu-item>Help</button>
            <button mat-menu-item (click)="printState()">Print State</button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="appMenu" class="menu">
            <span>Obre el menú</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="main">
  <router-outlet></router-outlet>
</section>