<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="header__content">
          <span class="header__title">Carles Hervera Gestió</span>
          <div class="header__menu">
            <span class="user">{{(user | async)?.data}}</span>
            <mat-menu #appMenu="matMenu">
              <button mat-menu-item routerLink="/articles">Articles</button>
              <button mat-menu-item>Help</button>
              <button mat-menu-item (click)="printState()">Print State</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="main">
  <router-outlet></router-outlet>
</section>