<div>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Titol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="short_description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripció curta </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.short_description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>&nbsp; </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="button-wrapper">
          <button mat-flat-button color="primary" (click)="onEdit(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-flat-button color="warn" (click)="onDelete(element.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [length]="totalArticles | async" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onPaginate($event)">
  </mat-paginator>

</div>