<div class="page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="page__header">
          <div class="page__title">{{ 'projects.edit' | translate}}</div>
          <div class="breadcrums">
            <span class="breadcrums__item">inici</span>
            <a routerLink="/projectes" class="breadcrums__item">projectes</a>
            <span class="breadcrums__item">projectes</span>
          </div>
        </div>
      </div>
    </div>
    <form *ngIf="project$ | async" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form">
        <div class="form__content">
          <div class="row">
            <div class="col-3">
              <mat-form-field class="form__field-container">
                <input matInput placeholder="{{ 'projects.codi' | translate}}" id="code" formControlName="code">
                <app-input-error [control]="form.controls.code" [apiError]="(formApiErrors$ | async)?.code">
                </app-input-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="form__field-container">
                <input matInput placeholder="{{ 'projects.nom' | translate}}" id="name" formControlName="name">
                <app-input-error [control]="form.controls.name" [apiError]="(formApiErrors$ | async)?.name">
                </app-input-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="form__field-container">
                <input matInput placeholder="{{ 'projects.responsable' | translate}}" id="responsable"
                  formControlName="responsable">
                <app-input-error [control]="form.controls.responsable"
                  [apiError]="(formApiErrors$ | async)?.responsable">
                </app-input-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="form__field-container">
                <input matInput placeholder="{{ 'projects.responsableTecnic' | translate}}" id="responsable"
                  formControlName="tecnicResponsable">
                <app-input-error [control]="form.controls.tecnicResponsable"
                  [apiError]="(formApiErrors$ | async)?.tecnicResponsable">
                </app-input-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="form__field-container">
                <mat-select placeholder="{{ 'projects.departament' | translate}}" id="department"
                  formControlName="department">
                  <mat-option [value]=""></mat-option>
                  <mat-option *ngFor="let item of departments$ | async" [value]="item.id">
                    {{item.description}}
                  </mat-option>
                </mat-select>
                <app-input-error [control]="form.controls.department" [apiError]="(formApiErrors$ | async)?.department">
                </app-input-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="form__field-container">
                <input matInput placeholder="{{ 'projects.codiINAP' | translate}}" id="responsable"
                  formControlName="codeINAP">
                <app-input-error [control]="form.controls.codeINAP" [apiError]="(formApiErrors$ | async)?.codeINAP">
                </app-input-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="form__field-container">
                <input matInput placeholder="{{ 'projects.tamanyDelEquip' | translate}}" id="responsable"
                  formControlName="teamSize">
                <app-input-error [control]="form.controls.teamSize" [apiError]="(formApiErrors$ | async)?.teamSize">
                </app-input-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form__footer">
          <div class="button-wrapper">
            <button class="button button--primary">Guardar</button>
            <button class="button button--error" (click)="onCancel()">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>