<div class="page">
  <mat-card>
    <mat-card-title>{{ 'articles.title' | translate}}</mat-card-title>
    <div class="button-wrapper button-wrapper--right">
      <button mat-flat-button color="primary" (click)="onAdd()">Afegir</button>
    </div>
    <div class="table">
      <span class="error">error: {{(error$ | async)?.message}}</span>
      <app-articles-table [dataSource]="dataSource" (edit)="editArticle($event)" (delete)="deleteArticle($event)"
        (sort)="onSort($event)" (paginate)="onPaginate($event)">
      </app-articles-table>
    </div>
    <div class="button-wrapper button-wrapper--right">
      <button mat-flat-button color="primary" (click)="onExport()">Exportar</button>
    </div>
  </mat-card>
</div>