/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

:root{
  
  --background-color: #fff;
  
  --color-main-1: #1a3b47;
  --color-main-2: #e8e8e8;
  --color-main-3: #fde3d4;

  --color-aux-1:#ffea80;
  --color-aux-1-light:#fff5bf;
  --color-aux-2:#f7ac6f;
  --color-aux-2-light:#fbd4b7;
  --color-aux-3:#e88aa2;
  --color-aux-3-light:#f4c5d1;
  --color-aux-4:#79c5b5;
  --color-aux-4-light:#bce2da;
  --color-aux-5:#63a0cb;
  --color-aux-5-light:#b1cfe5;
  --color-aux-6:#7874b4;
  --color-aux-6-light:#bbb9da;

  --color-error: #f52056;
  --color-success: var(--color-aux-4-light);

  --font-color: var(--color-main-1); 
  --font-color-negative: #fff;

  --main-font-family: 'Open Sans', sans-serif;

  --distance-s: 8px;
  --distance-m: 15px;
  --distance-m-negative: -15px;
  --distance-l: 32px;

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 22px;
}

body{
  padding: 0;
  margin: 0;
  color: var(--font-color-negative);
  font-family: var(--main-font-family);
}

.header{
  background: var(--color-main-1);
}

.header .header__title{
  color: var(--font-color-negative);
  font-size: var(--font-size-xl);
  padding: 15px 0;
  display: inline-block;
}
.header__menu{
  float: right;
}

.menu{
  background: none;
  border: none;
  color: var(--font-color-negative);
  height: 25px;
  width: 33px;
  margin: 18px 0;
  display: block;
  position: relative;
  outline: none;
}
.menu:focus{
  outline: none;
}

.menu span{
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  text-indent: -9999px;
  display: inline-block;
  background: var(--font-color-negative);
  height: 1px;
  width: 100%;
}

.menu::after, .menu::before{
  content: ' ';
  display: inline-block;
  background: var(--font-color-negative);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu::before{
  bottom: auto;
  top: 0;
}

.page{
  background: var(--background-color);
  color: var(--font-color);
  padding: var(--distance-m) 0;
}
.page__title{
  font-size: var(--font-size-l);
}
.page .page__header{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--distance-m);
  border-bottom: 1px solid var(--color-main-2);
  padding-bottom: var(--distance-m);
}

.breadcrums{
  font-size: var(--font-size-xs);
}
.breadcrums .breadcrums__item{
  display: inline-block;
  color: var(--color-aux-5);
}
.breadcrums .breadcrums__item[routerLink]{
  text-decoration: underline;
}

.breadcrums .breadcrums__item + .breadcrums__item{
  margin-left:var(--distance-m);
}
.breadcrums .breadcrums__item + .breadcrums__item::before{
content: '/';
margin-right:var(--distance-m);
display: inline-block;
}
.page .page__header .breadcrums{
  align-self: flex-end;
}
.form .form__header{
  background: var(--color-aux-2);
  display: flex;
  justify-content: flex-end;
  padding:var(--distance-m);
}
.form .form__content{
  padding:var(--distance-m);
}
.form .form__footer{
  background: var(--color-aux-2);
  display: flex;
  justify-content: flex-end;
  padding:var(--distance-m);
}
.field-container{
  min-height: 65.5px;
  width: 100%;
}
.field-container .mat-checkbox{
  display: inline-block;
  margin-top:var(--distance-m);
}

.button{
  border: none;
  background: none;
  color: var(--font-color);
  padding:var(--distance-s);
}

.button--primary{
  background: var(--color-aux-5);
  color: #fff;
}
.button--error{
  background: var(--color-error);
  color: #fff;
}

.table .table__header{
  display: flex;
  justify-content: space-between;
  background: var(--color-aux-2);
  color: #fff;
  padding:var(--distance-m);
}

.table .table__title{
  font-size: var(--font-size-l);
  align-self: center;
}
.table .table__searcher{
  background: var(--color-aux-2-light);
}
.table .table__content{
  border-left: 1px solid var(--color-aux-2);
  border-right: 1px solid var(--color-aux-2);
  min-height: 130px;
}
.table .table__footer{
  background: var(--color-aux-2);
  padding:var(--distance-m);
  display: flex;
  justify-content: flex-end;
}

.table mat-table .mat-column-actions{
  display: flex;
  justify-content: flex-end;
}
.table mat-cell:last-of-type{
  padding-right:var(--distance-m);
}
.table .mat-sort-header-button{
  font-weight: 700;
}

.button-wrapper{
  margin: 0 -4px;
}
.button-wrapper .button{
  margin: 0 4px;
}

.searcher{
  padding:var(--distance-m);
}
.searcher .searcher__footer{
  display: flex;
  justify-content: flex-end;
}

.spinner-container{
  display: flex;
  justify-content: center;
  padding: 15px;
}

.mat-spinner circle{
  stroke: var(--color-aux-5);
}
.mat-checkbox .mat-checkbox-frame{
  border-color: var(--color-aux-5);
}
.mat-checkbox.mat-checkbox-checked .mat-checkbox-background{
  background-color: var(--color-aux-5);
}

.panel, .panel .panel--primary{
  border:1px solid var(--color-aux-3);
  background: var(--color-aux-3-light);
  padding:var(--distance-m);
  margin-bottom:var(--distance-m);
}
.panel .panel__title,.panel.panel--primary .panel__title {
  font-size: var(--font-size-m);
  border-bottom: 1px solid var(--color-aux-3);
  padding: 0 var(--distance-l);
  margin-bottom: var(--distance-m);
  margin-left: var(--distance-m-negative);
  display: inline-block;
}
.panel.panel--secondary{
  background: var(--color-aux-5-light);
  border-color: var(--color-aux-5);
}
.panel.panel--secondary .panel__title{
  border-color: var(--color-aux-5);
}
.panel.panel--third{
  background: var(--color-aux-6-light);
  border-color: var(--color-aux-6);
}
.panel.panel--third .panel__title{
  border-color: var(--color-aux-6);
}

.mat-snack-bar-container.success{
  background: var(--color-success);
  color: var(--font-color);
}
.mat-snack-bar-container.error{
  background: var(--color-error);
  color: var(--font-color);
}
.mat-snack-bar-container.error .mat-button{
  color: var(--font-color);
}
