/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body{
  padding: 0;
  margin: 0;
  color: #424242;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.page{
  padding: 0;
  position: relative;
}

.page::before{
  content: '';
  position: absolute;
  z-index: -1;
  background: #c5cae9;
  height: 150px;
  width: 100%;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form__field-container{
  width: 100%;
}

.button-wrapper{
  display: flex;
  margin: 0 -8px;
} 
.button-wrapper > button, .button-wrapper > a{
  margin: 0 8px;
}
.button-wrapper.button-wrapper--right{
  justify-content: flex-end;
}

.page .mat-card{
  background: none;
  margin: 0 40px;
  padding: 16px 0;
}

.mat-card .mat-card-title{
  color: #fff;
}
.mat-card .mat-card-content{
  background: #fff;
  padding: 16px;
}


